body {
    background-color: #dbf6e9;
}

h1 {
    color: #66bfbf
}

h3 {
    color: #66bfbf
}

hr {
    border-style: none;
    border-color: grey;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

img {
    height: 150px;
    width: 150px;
}